.project-list button:hover, 
.project-list-title:hover, 
#btn-submit {

    background-color:  rgb(163, 29, 29);

    color: rgb(236, 220, 191);

}

.add-todo:hover {

    border-bottom: 0.8px solid  rgb(163, 29, 29);
}


#project-name-input, 
.project-to-dos form input, 
select {

    border: none;
    border-radius: 0.3rem;

    outline: solid 1px  rgb(163, 29, 29);

    color:  rgb(163, 29, 29);

    overflow-x: hidden;
}

#project-name-input {

    width: 100%;

    padding-left: 0.3rem;
    font-size: 1.1rem;

    appearance: none;

}

.project-to-dos > form{

    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0.5fr);
    gap: 1rem;

    justify-items: start;
    padding: 0 1.5rem;
    padding: 1rem auto;

    border-radius: 0.5rem;

}


.project-to-dos > form {

    background-color: rgb(243, 228, 199);

}

.project-to-dos > form > * {

    margin: 0.7rem auto;
}


.project-to-dos form input {

    width: 12ch;

    padding-left: 0.3rem;

    appearance: none;

    font-size: 0.95rem;
}


[priority = "High"] {

    background-color: rgb(243, 228, 199);


}

[priority = "Medium"] {

    background-color: rgba(243, 228, 199, 0.635);


}

[priority = "Low"], .project-to-dos > form > ul {

    background-color: rgba(243, 228, 199, 0.247);


}

ul[complete="Yes"] {

     filter: grayscale(1);
}


.checkbox[checked="Yes"]::after {
  position: absolute;

  content: "";
  width: 0.70rem;
  height: 0.70rem;

  border-radius: 2rem;

  background-color: rgb(113, 28, 28);

  left: 1.5px;
  top: 1.3px;

}

#btn-submit {

    width: 3rem;

    border: none;
    border-radius: 0.9rem;

    padding-right: 5px;

    font-weight: 500;
    font-size: 0.95rem;
}

.delete-to-do:active {

    scale: 0.9;

}

.delete-to-do:hover {

    scale: 1.05;

}

.del-project:active {

    scale: 0.95;

}