
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/* MAIN STYLING */

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, .project-content{
    display: grid;
  }

body {
    grid-template-columns: minmax(15rem, 0.5fr) minmax(40rem, 3fr);
  }


/* COMBINED */

.project-list, .filter-area, .display-area {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.project-list {
    padding-top: 4rem;
}



  /* LEFT SIDE */

.project-list {
    gap: 3rem;
    background-color: rgb(236, 220, 191);
    box-shadow: 0.05rem 0.05rem 0.5rem 0.05rem rgba(112, 105, 90, 0.26);
}


.filter-area, .display-area {
    gap: 0.5rem;
}

.filter-area button{
    width: 90%;
    height: 2rem;
    /* padding-left: 1rem; */
    
    text-align: start;
    border-style: none;
    border-radius: 0.3rem;
    
    background-color: rgb(236, 220, 191);

    color: rgb(163, 29, 29);

    font-weight: bold;
}


h5 {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(163, 29, 29);
}

li {
    list-style-type: none;
    margin: 0.3rem 0;

    font-size: 0.95rem;

    color: rgb(216, 64, 64);
}


/* RIGHT SIDE */

.project-title {

    border-bottom:  1px solid rgb(163, 29, 29);

    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

    align-self: flex-start;

    color: rgb(163, 29, 29);
}

.project-content {

    grid-template-rows: 0.2fr 2fr;
    grid-template-columns: 1fr;
    gap: 3rem;

    width: 80%;

    margin-left: 5rem;
    margin-top: 3.5rem;
}


.project-to-dos  ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 2.5rem;
    padding-left: 1rem;
    
    gap: 3rem;

    border-radius: 0.5rem;

}

.project-to-dos ul:nth-child(odd) {

    background-color: rgb(248, 242, 222);

    
}


