
span, 
h5 {
    position: relative;
}

button:first-child span::before,
button:nth-child(2) span::before,
button:nth-child(3) span::before,
.filter-area button:last-child span::before,
h5::before,
.add-todo span::before {

    position: absolute;
    content: "";
    
    width: 20px;
    height: 20px;


    background-size: contain;

}


button:first-child span::before,
button:nth-child(2) span::before,
button:nth-child(3) span::before,
.filter-area button:last-child span::before,
.add-todo span::before {

    top: 0;
    left: -35px;
}


h5::before {

    top: 3px;
    left: -30px;
}


button:first-child span::before,
.add-todo span::before {
    background-image: url("../svgs/plus-circle.svg");
}

button:nth-child(2) span::before {
    background-image: url("../svgs/calendar-day.svg");
}

button:nth-child(3) span::before {
    background-image: url("../svgs/calendar-month.svg");
}

.filter-area button:last-child span::before {
    background-image: url("../svgs/complete.svg");
}

h5::before {
    background-image: url("../svgs/hash.svg");
}


.del-project {

    background-image: url("../svgs/trash.svg");
    background-size: contain;

}

.del-project:hover {
    scale: 1.1;
}


.delete-to-do {

  background-image: url("../svgs/trash.svg");
  background-size: contain;

}
